.footerBlock{
    min-height: 25vh;
    background-color: #e8ce96;
}
.footerContainer{
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}
.icon{
    width: 60px;
    height: 60px;
    background-color: black;
}
.title{
    background-color: #d0c2c2;
}
.footer {
    height: 80px;
    background-color: #77c9c9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.description{

}